
:root {
  --dark: rgb(47, 3, 41);
  --bright: rgb(0, 255, 174);
  --red: rgb(255, 0, 64);
  --yellow: rgb(187, 163, 7);
  --black: rgb(16, 0, 16);
  --transparent:rgba(255, 255, 255, 0);
}

body {
  font-family: 'Courier Prime', monospace;
  background-color: var(--black);
  color: var(--red);
  font-weight: 700;
  text-shadow: 0px 0px 10px var(--red);
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  display: flex;
  justify-content: center;
}

.header img{
  width: 25px;
  height: 25px;
}

.header h1{
  margin:0;
  font-size: 25px;
}

.sequencer-row {
  display: flex;
  margin: 2px;
}

.note {
  width: 100%;
  height: 50px;
  margin-right: 5px;
  background-color: var(--dark);
  border: 4px inset var(--dark);
  transition: .2s;
}

.note-is-active {
  background-color: var(--bright);
  border: 4px inset var(--bright);
  box-shadow: 0px 0px 10px var(--bright);
}

.note:hover{
  box-shadow:inset 0px 0px 10px var(--black)
}

.note-label {
  display: block;
  padding: 0 18px; /* adjust as needed */
  text-align: right;
  margin-right: 15px; /* adjust as needed */
  vertical-align: middle;
  line-height: 50px; /* to vertically center the text with the note row */
}


.beat-indicator {
  height: 15px;
  background-color: var(--transparent);
  border:0;
}

#beat-indicator-row{
  padding-left: 60px;
}


.beat-indicator-is-active {
  background-color: var(--red);
  box-shadow: 0px 0px 20px var(--red);
}

.sequencer_controls{
  display: flex;
}

.bpm-slider {
  width: 100%;
}

.slidecontainer {
  width: 100%;
  display: flex;
  padding: 30px 0;
  color: var(--red);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: var(--dark);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--bright);
  cursor: pointer;
  border: 4px inset var(--bright);
  transition: .2s;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--bright);
  cursor: pointer;
  border: 4px inset var(--bright);
  transition: .2s;
}

.button {
  font-family: 'Courier Prime', monospace;
  border: 4px inset var(--bright);
	box-sizing: border-box;
	color: var(--dark);
  letter-spacing: 3px;
	cursor: pointer;
	display: block;
	font-size: 2.2rem;
	margin: 5px;
	min-width: 200px;
	padding: 10px;
	text-transform: uppercase;
	width: 200px;
  background-color: var(--bright);
  transition: .2s;
  font-weight: 700;
}
.button:hover{
  box-shadow: 0px 0px 10px var(--bright);
}
